<mat-sidenav-container fullscreen>

  <mat-sidenav #sidenav mode="push" [ngStyle]="{width: '250px'}">

    <mat-toolbar>
      <span>Menu</span>
      <span class="margenNav"></span>
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-toolbar>

    <mat-nav-list>
      <mat-list-item
        *ngFor="let opcion of barraOpciones"
        [routerLink]="opcion.ruta"
        (click)="sidenav.toggle()">
          <mat-icon matListItemIcon>{{opcion.icon}}</mat-icon>
          <span matLine>{{opcion.nombre}}</span>
      </mat-list-item>
    </mat-nav-list>

  </mat-sidenav>

  <mat-sidenav-content>

    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Administrador de estaciones de radio</span>
      <span class="margenNav"></span>
      <button mat-icon-button>
        <mat-icon>account_circle</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon>exit_to_app</mat-icon>
      </button>
    </mat-toolbar>

    <div class="container p-2">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
